* {
    margin: 0;
    padding: 0;
    border: 0;
}

.adicionar {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50%;
    margin-left: 50%;
}

button {
    display: grid;
}

.disabled-button {
    width: 200px;
    height: 40px;
    display: block;
    background-color:rgb(247, 180, 180);
    border-radius: 5px;
    color: black;
}

.active-button {
    width: 200px;
    height: 40px;
    display: block;
    background-color:rgb(180, 217, 247);
    border-radius: 5px;
    color: #fff;
}